* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(44deg, #e91e63, #fffde7);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.heading_title {
  color: #e13636;
  font-size: 1.5rem;
}

.player {
  position: relative;
  width: 350px;
  background: #f1f3f4;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
}

.player .imgbx {
  position: relative;
  width: 70%;
  height: 250px;
  margin: 0 auto;
}

.player .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player audio {
  width: 100%;
  outline: none;
}

.video {
  width: 100%;
}

.c-video {
  width: 100%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  height: 450px;
  border-radius: 2ch;
}

.c-video:hover .controls {
  transform: translateY(0);
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.9);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
}

.buttons {
  padding: 10px;
}

.buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.buttons button:before {
  content: "\f144";
  font-family: "Font Awesome 6 Free";
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
  content: "\f144";
}

.buttons button.pause:before {
  content: "\f28b";
}

.buttons button.mute:before {
  content: "\f144";
}

.buttons button.unmute:before {
  content: "\f28b";
}

.red-bar {
  height: 5px;
  top: 0;
  left: 0;
  width: 100%;
  background: #f9f9f9;
}

.red {
  height: 5px;
  width: 100px;
  background-color: red;
}
